h2 {
    color:#ffffff;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0px;
    padding-top: 50px;
    line-height: 1.25;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

h1 {
    color:#ffffff; 
    font-family: 'Lora';
    font-weight: 400; 
    font-size: 40px;
    text-align: center;
    padding-bottom: 34px;
    margin-top: 2px;
    line-height: 1.125;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

.taste {
    color:#fee575;
    font-family: 'Lora'; 
    font-size: 40px;   
}