.footer-grid {
    background-color:#ffe575;
    min-height: 339px;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-right: 24px;
    padding-left: 24px;
}

.title-footer {
    font-size: 14px;
    font-family: 'Lato';
    margin-bottom: 24px;
    text-align: left;
}
