.bespoke-picture {
	height: 225px;
	width: 225px;
}

.choice-picture {
    height: 225px;
	width: 225px;   
}

.flexible-picture {
    height: 225px;
	width: 225px;   
}

h3 {
    margin-top: 40px;
}

h4 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 24px;
}

p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.body-quantity {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
}

.body-description {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
}

.div-quantity {
    margin-bottom: 25px;
}