.pillar {
    margin: auto;
}

.pillar h4 {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.pillar p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pillar img.value {
    height: 175px;
    width: 175px;
}

.pillar img.step {
    height: 125px;
    width: 125px;
}
