.section {
    margin: auto;
    padding: 0 10px;
    margin-top: 30px;
}

.section h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #363636;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.25;
}

.section p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 36px;
}

.section .yellow-line {
    background-color: #fee575;
    height: 4px;
    width: 50px;
    margin: auto;

}
